@charset "utf-8";

@media (min-width: 1200px){
body {
    margin-left: 91px;
    margin-right: 91px;
}


}

@media (min-width: 992px){
body {
    margin-left: 91px;
    margin-right: 91px;
}


}

@media (min-width: 768px){
body {
    margin-left: 91px;
    margin-right: 91px;
}
}

@media (min-width: 576px){
}

@media (max-width: 576.98px){
	body {
    margin-left: 30px;
    margin-right: 30px;
}
}

@media (max-width: 767.98px){
body {
    margin-left: 30px;
    margin-right: 30px;
}

}

@media (max-width: 991.98px){
}

@media (max-width: 1199.98px){	

}
